<%- include('layout.ejs'); %>

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Students</li>
          <li class="ml-auto"><a href="/new-student" class="btn btn-sm btn-primary">New Student</a>  </li>
        </ol>
        
      </nav>
      
    
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
            <th scope="col">Profile Img</th>
            <ht scope="col">Action</ht>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i < students.length; i++) {%>
            <tr>
              <th scope="row">1</th>
              <td><%= students[i].name %></td>
              <td><%= students[i].age %></td>
              <td><%= students[i].email %></td>
              <td>
                <img src="<%= students[i].avatar %>" class="rounded-circle"
                height="24" alt="Avatar" loading="lazy" />
                
              </td>
              <td>
                
                  <form method="POST" action="/delete-student/<%= students[i].id %>">
                    <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                </form>
                
              
              </td>
            </tr>
          <div> </div>
            <% } %>
          
        </tbody>
      </table>


</div>